body {
    background-color: var(--color-white);
}

.form__content {
    max-width: 680px;
    margin: 80px auto;
}

.form__heading {
    text-align: center;
    margin-bottom: 50px;
}

.form__heading-title {
    font-size: 36px;
    font-weight: bold;
}

.form {
    width: 100%;
}

.form__group {
    width: 100%;
    margin-bottom: 20px;
}

.form__group-title {
    margin-bottom: 10px;
}

.form__label {
    font-weight: bold;
    font-size: 24px;
}

.form__group-content {
    width: 100%;
}

.form__input {
    font-size: 24px;
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    padding: 10px;
}

.form__error {
    line-height: 1.5;
    min-height: 1.5em;
    font-size: 20px;
    color: var(--color-red);
    text-align: left;
    margin-top: 5px;
}

.form__button {
    width: 100%;
    margin-top: 70px;
}

.form__submit {
    font-size: 26px;
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-main);
    border-radius: 5px;
    padding: 16px 0;
}

.form__submit:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.form__footer {
    margin-top: 30px;
    text-align: center;
}

.form__footer-link {
    color: var(--color-link);
    font-size: 20px;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .form__content {
        max-width: 640px;
        margin: 70px auto;
    }
}
