.form__content {
    text-align: center;
    font-weight: bold;
    width: 60%;
    margin: 20vh auto 0 auto;
    font-size: 24px;
}

.form__notice-text {
    margin-bottom: 62px;
    font-weight: bold;
}

.form__button-link {
    border: 1px solid var(--color-main);
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px 33px;
    font-weight: bold;
}

.form__button-link:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    font-size: 20px;
    color: #0073CC;
    background-color: #F0EFF2;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .form__content {
        max-width: 680px;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .form__notice-text {
        margin-bottom: 56px;
    }

    .form__button {
        margin-top: 48px;
    }
}
