.attendance {
    text-align: center;
    width: 60%;
    margin: 8% auto 0 auto;
}

.attendance__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.attendance__status {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #696969;
    background-color: #C8C8C8;
    border-radius: 50px;
}

.attendance__date {
    font-size: 40px;
}

.attendance__time {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 15%;
}

.attendance__buttons {
    display: flex;
    justify-content: center;
}

.attendance__button {
    width: 200px;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-main);
    border-radius: 20px;
    letter-spacing: 15%;
    padding: 10px 0;
    margin: 50px;
}

.attendance__button--break {
    color: var(--color-main);
    background-color: var(--color-white);
}

.attendance__message {
    font-size: 26px;
    font-weight: 700;
    margin: 50px;
    letter-spacing: 15%;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .attendance {
        width: 64%;
    }

    .attendance__buttons {
        gap: 32px;
    }

    .attendance__button {
        width: 180px;
        margin: 40px 0;
    }

    .attendance__message {
        margin: 40px 0;
    }
}
